In [2]:
%matplotlib inline
import pandas as pd

In [3]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [8]:
titles = pd.DataFrame.from_csv('titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [9]:
cast = pd.DataFrame.from_csv('cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [10]:
t= titles
len(t)

230621

In [7]:
pwd

'D:\\Springboard\\Pandas\\pycon-pandas-tutorial-master'

### What are the earliest two films listed in the titles dataframe?

In [12]:
t.sort('year').head(2)

C:\Users\Smitha.admin-PC\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

                     title  year
176477          Miss Jerry  1894
213694  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [17]:
h=t[t.title=='Hamlet']
len(h)

18

### How many movies are titled "North by Northwest"?

In [18]:
h=t[t.title=='North by Northwest']
len(h)

1

### When was the first movie titled "Hamlet" made?

In [19]:
t[t.title=='Hamlet'].sort('year').head(1)

C:\Users\Smitha.admin-PC\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

        title  year
46365  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [21]:
t[t.title=='Treasure Island'].sort('year')

C:\Users\Smitha.admin-PC\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

                  title  year
204540  Treasure Island  1918
50896   Treasure Island  1920
189691  Treasure Island  1934
96259   Treasure Island  1950
59186   Treasure Island  1972
110576  Treasure Island  1973
203909  Treasure Island  1985
178072  Treasure Island  1999

### How many movies were made in the year 1950?

In [24]:
len(t[t.year == 1950])

1093

### How many movies were made in the year 1960?

In [25]:
len(t[t.year == 1960])

1496

### How many movies were made from 1950 through 1959?

In [26]:
len(t[(t.year > 1950) & (t.year <= 1959)])

11563

### In what years has a movie titled "Batman" been released?

In [28]:
t[t.title=='Batman'].sort('year')

C:\Users\Smitha.admin-PC\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

        title  year
74047  Batman  1943
55577  Batman  1989

In [29]:
c=cast
c.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many roles were there in the movie "Inception"?

In [30]:
t.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [33]:
len(c[c.title=='Inception'])

77

In [35]:
roles=c[c.title=='Inception']
roles

,title,year,name,type,character,n
94333,Inception,2010,Michael (III) August,actor,LAX Passenger,NaN
143138,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
176819,Inception,2010,Tom Berenger,actor,Browning,8.0
190249,Inception,2010,Ken Bhan,actor,Mombasan Gambler,NaN
250191,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.0
314663,Inception,2010,Michael Caine,actor,Miles,11.0
321091,Inception,2010,Earl Cameron,actor,Elderly Bald Man,20.0
361119,Inception,2010,John Ceallach,actor,LAX Passenger,NaN
417982,Inception,2010,Nicolas Clerc,actor,Bridge Sub Con,26.0
428199,Inception,2010,Adam (IV) Cole,actor,Bar Sub Con,34.0
498708,Inception,2010,Jean-Michel Dagory,actor,Bridge Sub Con,30.0
569504,Inception,2010,Leonardo DiCaprio,actor,Cobb,1.0
659835,Inception,2010,Seve Esposito,actor,Italian Gambler,NaN
666157,Inception,2010,Marcus (II) Everett,actor,Stock Broker,NaN
682511,Inception,2010,Zachary Christopher Fay,actor,Extra,NaN
684215,Inception,2010,Russ Fega,actor,Cab Driver,23.0
711192,Inception,2010,Mark Fleischmann,actor,Penrose Sub Con,32.0
779284,Inception,2010,Michael Gaston,actor,Immigration Officer,45.0
783405,Inception,2010,Johnathan Geare,actor,James (3 years),17.0
802478,Inception,2010,Carl Gilliard,actor,Lobby Sub Con,40.0
803728,Inception,2010,Jack Gilroy,actor,Old Cobb,50.0
806524,Inception,2010,Daniel Girondeaud,actor,Bridge Sub Con,NaN
829338,Inception,2010,Joseph Gordon-Levitt,actor,Arthur,2.0
878274,Inception,2010,Lukas Haas,actor,Nash,12.0
907468,Inception,2010,Tom Hardy,actor,Eames,4.0
932903,Inception,2010,Ryan Hayward,actor,Lawyer,21.0
971196,Inception,2010,Andrew Hoagland,actor,Pedestrian,NaN
1056651,Inception,2010,Charles Jarrell,actor,Hotel Guest,NaN
1069724,Inception,2010,Seong-hwan Jo,actor,Japanese Landing Crew,NaN
1080743,Inception,2010,Alonzo F. Jones,actor,Mombasan Casino Staff,NaN
...,...,...,...,...,...,...
1852069,Inception,2010,Benjamin (II) Riley,actor,Bridge Sub Con,NaN
1927805,Inception,2010,Norman Saleet,actor,Airport Patron,NaN
1975441,Inception,2010,Felix Scott,actor,Businessman,46.0
2050419,Inception,2010,Colin (XXV) Smith,actor,Airport Patron,NaN
2156986,Inception,2010,Affan Tareen,actor,Denison,NaN
2168785,Inception,2010,Jason Tendell,actor,Fischer's Driver,49.0
2184854,Inception,2010,Kraig Thornber,actor,Bar Sub Con,36.0
2318555,Inception,2010,Ken Watanabe,actor,Saito,5.0
2516169,Inception,2010,Natasha Beaumont,actress,Bar Sub Con,38.0
2658136,Inception,2010,Marion Cotillard,actress,Mal,9.0
2668039,Inception,2010,Helena Cullinan,actress,Penrose Sub Con,31.0
2686796,Inception,2010,Youlanda Davis,actress,Mombasan Cashier,NaN
2697084,Inception,2010,Coralie Dedykere,actress,Bridge Sub Con,27.0
2739039,Inception,2010,Julie Eagleton,actress,Stockbroker,NaN
2814544,Inception,2010,Claire Geare,actress,Phillipa (3 years),14.0
2814552,Inception,2010,Taylor Geare,actress,Phillipa (5 years),16.0
2831371,Inception,2010,Natalie Goldwin,actress,LAX Passenger,NaN
2928772,Inception,2010,Marguerite Insolia,actress,Reporter,NaN
3016734,Inception,2010,Leticia LaBelle,actress,Airport Patron,NaN
3019159,Inception,2010,Silvie Laguna,actress,Bridge Sub Con,28.0
3025693,Inception,2010,Shelley Lang,actress,Penrose Sub Con,33.0
3067377,Inception,2010,Alex (II) Lombard,actress,Lobby Sub Con,42.0
3088316,Inception,2010,Jill Maddrell,actress,Lobby Sub Con,41.0
3198324,Inception,2010,Angela Nathenson,actress,Bar Sub Con,37.0
3213496,Inception,2010,Miranda Nolan,actress,Flight Attendant,22.0
3238950,Inception,2010,Ellen Page,actress,Ariadne,3.0
3292669,Inception,2010,Nicole Pulliam,actress,Lobby Sub Con,43.0
3319073,Inception,2010,Lisa (II) Reynolds,actress,Private Nurse,48.0
3325768,Inception,2010,Talulah Riley,actress,Blonde,25.0
3560127,Inception,2010,Shannon Welles,actress,Old Mal,51.0

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [46]:
c  = cast
c = c[c.title == 'Inception']
c = c[c.n.isnull()]
len(c)

26

In [47]:
c = c[c.n.notnull()]
len(c)

0

### But how many roles in the movie "Inception" did receive an "n" value?

In [54]:
c  = cast
c = c[c.title == 'Inception']
c = c[c.n.notnull()]
len(c)

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [56]:
c = cast
c = c[c.title == 'North by Northwest']
c = c[c.n.notnull()]
c = c.sort('n')
c

C:\Users\Smitha.admin-PC\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,title,year,name,type,character,n
840374,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3361396,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1404704,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3024085,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
343701,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2923056,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1634552,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1229083,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2357939,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1746383,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
642085,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2212083,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
447893,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1454363,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
198496,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1334726,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [57]:
c = cast
c = c[(c.title == 'Sleuth') & (c.year == 1972)]
c = c.sort('n')
c

C:\Users\Smitha.admin-PC\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

,title,year,name,type,character,n
1644328,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
314691,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
360365,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1412647,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2619278,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1396572,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [60]:
c = cast
c = c[(c.title == 'Sleuth') & (c.year == 2007)]
#c = c[c.n.notnull()]
c = c.sort('n')
c

C:\Users\Smitha.admin-PC\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

          title  year                 name     type          character    n
314692   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1246855  Sleuth  2007             Jude Law    actor               Milo  2.0
1741124  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
250297   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
360366   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2619277  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3223502  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [61]:
c = cast
len(c[(c.title == 'Hamlet') & (c.year == 1921)])

9

In [73]:
c = cast
c = c[c.title == 'Hamlet']
c

,title,year,name,type,character,n
1615,Hamlet,1996,Riz Abbasi,actor,Attendant to Claudius,1.0
7438,Hamlet,1921,Fritz Achterberg,actor,"Fortinbras,",9.0
11242,Hamlet,2009,Hayden Adams,actor,Laertes,7.0
11243,Hamlet,2009,Hayden Adams,actor,Player,7.0
13907,Hamlet,1913,Eric Adeney,actor,Reynaldo,14.0
16079,Hamlet,2000,Casey Affleck,actor,Fortinbras,15.0
32916,Hamlet,1964,Hugh Alexander,actor,Cornelius,NaN
32917,Hamlet,1964,Hugh Alexander,actor,Second Gravedigger,NaN
32918,Hamlet,1964,Hugh Alexander,actor,English Ambassador,NaN
52487,Hamlet,1913,Richard Andean,actor,Second Player,16.0
62270,Hamlet,1990,Christien Anholt,actor,Marcellus,14.0
74921,Hamlet,1969,Ben Aris,actor,Rosencrantz,8.0
80019,Hamlet,2015,Thomas (II) Arnold,actor,Horatio,5.0
92106,Hamlet,1996,Richard Attenborough,actor,English Ambassador,2.0
100256,Hamlet,1948,Felix Aylmer,actor,Polonius - Lord Chamberlain,15.0
132982,Hamlet,1913,J.H. Barnes,actor,Polonius,4.0
140011,Hamlet,2000,Paul Bartel,actor,Osric,14.0
145844,Hamlet,1990,Alan Bates,actor,Claudius,3.0
152349,Hamlet,1996,Simon Russell Beale,actor,Second Gravedigger,37.0
153202,Hamlet,1973,James Bearden,actor,Fortinbras,NaN
174961,Hamlet,1913,Grendon Bentley,actor,Fortinbras,7.0
206181,Hamlet,1996,David (V) Blair,actor,Attendant to Claudius,3.0
211111,Hamlet,1996,Brian Blessed,actor,Ghost of Hamlet's Father,4.0
241315,Hamlet,1996,Christopher Bowles,actor,Cadet in Play,NaN
250281,Hamlet,1996,Kenneth Branagh,actor,Hamlet,5.0
262368,Hamlet,1996,Richard Briers,actor,Polonius,6.0
283598,Hamlet,1996,Michael Bryant,actor,Priest,7.0
301167,Hamlet,1964,Richard Burton,actor,Hamlet,1.0
302715,Hamlet,1973,Stephen Bush,actor,Polonius,NaN
302796,Hamlet,1948,Anthony Bushell,actor,Bit Part,NaN
...,...,...,...,...,...,...
3137189,Hamlet,2015,Jodie McNee,actress,Rosencrantz,10.0
3137190,Hamlet,2015,Jodie McNee,actress,2nd Gravedigger,10.0
3140147,Hamlet,2009,Jennifer Mefford,actress,Player Queen,9.0
3140148,Hamlet,2009,Jennifer Mefford,actress,Messenger,9.0
3159950,Hamlet,1976,Helen Mirren,actress,Ophelia,2.0
3159951,Hamlet,1976,Helen Mirren,actress,Gertrude,2.0
3209199,Hamlet,1921,Asta Nielsen,actress,Hamlet,1.0
3211993,Hamlet,2000,Anne (II) Nixon,actress,Special Guest Appearance,34.0
3246370,Hamlet,1969,Judy Parfitt,actress,Gertrude,2.0
3256505,Hamlet,2015,Maxine Peake,actress,Hamlet,1.0
3269745,Hamlet,1990,Sarah Phillips,actress,The Players,19.0
3298558,Hamlet,1996,Sian Radinger,actress,Prologue,35.0
3303304,Hamlet,1996,Melanie Ramsay,actress,Prostitute,NaN
3310928,Hamlet,2000,India Reed Kotis,actress,Special Guest Appearance,29.0
3317452,Hamlet,1987,Melanie Revell,actress,Gertrude,NaN
3322807,Hamlet,1913,Olive Richardson,actress,Player Queen,NaN
3369033,Hamlet,1911,Emilie Sannom,actress,Ophelia,4.0
3387891,Hamlet,2000,Kelly Sebastian,actress,Secretary,39.0
3413503,Hamlet,1948,Jean Simmons,actress,Ophelia - and Daughter,17.0
3415452,Hamlet,1990,Baby Simon Sinclair,actress,The Players,26.0
3415596,Hamlet,1990,Pamela Sinclair,actress,The Players,25.0
3416831,Hamlet,1954,Mala Sinha,actress,Ophelia,1.0
3450159,Hamlet,2000,Julia Stiles,actress,Ophelia,7.0
3459439,Hamlet,2009,Bernadette Sullivan,actress,Gertrude,2.0
3479394,Hamlet,1964,Carol Teitel,actress,Lady,NaN
3505738,Hamlet,1969,Jennifer Tudor,actress,Court lady,23.0
3528322,Hamlet,2000,Diane Venora,actress,Gertrude,3.0
3557773,Hamlet,1996,Perdita Weeks,actress,Second Player,44.0
3562331,Hamlet,2015,Katie (II) West,actress,Ophelia,7.0
3578802,Hamlet,1996,Kate Winslet,actress,Ophelia,46.0

### How many roles were credited in Branagh’s 1996 Hamlet?

In [62]:
len(c[(c.title == 'Hamlet') & (c.year == 1996)])

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [68]:
c = cast
c

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,NaN
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
5,Straight Outta Compton,2015,$hutter,actor,Club Patron,NaN
6,Straight Outta Compton,2015,$hutter,actor,Dopeman,NaN
7,For Thy Love 2,2009,Bee Moe $lim,actor,Thug 1,NaN
8,"Lapis, Ballpen at Diploma, a True to Life Journey",2014,Jori ' Danilo' Jurado Jr.,actor,Jaime (young),9.0
9,Desire (III),2014,Syaiful 'Ariffin,actor,Actor Playing Eteocles from 'Antigone',NaN
10,When the Man Went South,2014,Taipaleti 'Atu'ake,actor,Two Palms - Ua'i Paame,8.0
11,Little Angel (Angelita),2015,Michael 'babeepower' Viera,actor,Chico,9.0
12,Mixing Nia,1998,Michael 'babeepower' Viera,actor,Rapper,NaN
13,The Replacements,2000,Steven 'Bear'Boyd,actor,Defensive Tackle - Washington Sentinels,NaN
14,All Out Dysfunktion!,2016,Kirlew 'bliss' Vilbon,actor,Bliss,NaN
15,Gook,2017,Kirlew 'bliss' Vilbon,actor,Bliss,NaN
16,My Song for You,2010,George 'Bootsy' Thomas,actor,Cooley's Customer,16.0
17,My Song for You,2010,George 'Bootsy' Thomas,actor,Celebration Guest,16.0
18,Hustle Beach,2017,Pete 'Boretta' Torres,actor,Tony,NaN
19,Mariano Mison... NBI,1997,Joseph 'Byron' Sese,actor,Putik's Son,31.0
20,Natas es Satan,1977,Ramon 'Cartucho' Pena,actor,Nigth Club Owner,NaN
21,B-Girl,2009,Jesse 'Casper' Brown,actor,Battle Judge,25.0
22,Battle of the Year,2013,Jesse 'Casper' Brown,actor,Rebel,9.0
23,Honey 2,2011,Jesse 'Casper' Brown,actor,Freestyle Dancer,73.0
24,Kickin' It Old Skool,2007,Jesse 'Casper' Brown,actor,Cole,10.0
25,Step Up All In,2014,Jesse 'Casper' Brown,actor,Grim Knight Dancer,61.0
26,The LXD: The Secrets of the Ra,2011,Jesse 'Casper' Brown,actor,Fangz,NaN
27,Todo x Sara,2014,Gil 'Colibri'Viera,actor,Llavero,NaN
28,Barrio Gangsters,2009,Marcelino 'Dibujo' Torres,actor,Dibujo,NaN
29,"Cornmeal, Gunpowder, Ham Hocks and Guitar Strings",2015,Donnie 'Dicky' Clemson,actor,Jeb Kinney,NaN
...,...,...,...,...,...,...
3611182,Askin kesisme noktasi,1990,Zuhal ?st?ntas,actress,Hira Ana,NaN
3611183,Dislanmis/Lekeli melek,1993,Zuhal ?st?ntas,actress,Fatma,NaN
3611184,Bhaag Milkha Bhaag,2013,Pr?ity ?upala,actress,Journalist (2013),NaN
3611185,From Sydney with Love,2012,Pr?ity ?upala,actress,Shruti (2012),NaN
3611186,Orange,2010,Pr?ity ?upala,actress,Usha (2010),NaN
3611187,Sex and the City 2,2010,Pr?ity ?upala,actress,Shopper (2010),NaN
3611188,Singh Is Kinng,2008,Pr?ity ?upala,actress,Puja (2008),NaN
3611189,Thalaivaa,2013,Pr?ity ?upala,actress,Pooja (2013),NaN
3611190,The Sky Has Fallen,2009,Pr?ity ?upala,actress,Skylar,NaN
3611191,Virsa,2010,Pr?ity ?upala,actress,Prema,NaN
3611192,Recep Ivedik 4,2014,Berna ??kaleler,actress,Simge,NaN
3611193,Gise Memuru,2010,Sevin? ??ok,actress,Afar Shouting Woman,18.0
3611194,Issiz Adam,2008,Sevin? ??ok,actress,Ece,NaN
3611195,Niceland (Population. 1.000.002),2004,Hugr?n ?orfinnsd?ttir,actress,Diana,10.0
3611196,Eldfjall,2011,Katla M. ?orgeirsd?ttir,actress,Home Nurse,NaN
3611197,Svanurinn,2017,Katla M. ?orgeirsd?ttir,actress,?l?f,NaN
3611198,Nei er ekkert svar,1995,Gu?r?n B. ?orsteinsd?ttir,actress,Part?gestir,46.0
3611199,Agnes,1995,Ingibj?rg ?orsteinsd?ttir,actress,Kona,25.0
3611200,Beowulf & Grendel,2005,Steinunn ?l?na ?orsteinsd?ttir,actress,Wealtheow,15.0
3611201,Dansinn,1998,Lilja Gu?r?n ?orvaldsd?ttir,actress,S?slumannafr?in,13.0
3611202,Foreldrar,2007,Lilja Gu?r?n ?orvaldsd?ttir,actress,Katrin Eldri,NaN
3611203,Rokland,2011,Lilja Gu?r?n ?orvaldsd?ttir,actress,A?albj?rg - Dagga's Mother,NaN
3611204,XL,2013,Lilja Gu?r?n ?orvaldsd?ttir,actress,Tengdamamma,NaN
3611205,Niceland (Population. 1.000.002),2004,Steinunn ?orvaldsd?ttir,actress,Factory Worker,21.0
3611206,Stuttur Frakki,1993,Sveinbj?rg ??rhallsd?ttir,actress,Flugfreyja,24.0
3611207,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0
3611208,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0
3611209,Skammdegi,1985,Dalla ??r?ard?ttir,actress,Hj?krunarkona,9.0
3611210,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0
3611211,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN

In [74]:
c = cast
len(c[c.character == 'Hamlet'])

91

### How many people have played an "Ophelia"?

In [77]:
len(c[c.character == 'Ophelia'].name.unique()])

109

In [81]:
c = c[c.character == 'Ophelia']
c

,title,year,name,type,character,n
238855,The Merry Maids of Madness,2016,Amy Bourque,actor,Ophelia,11.0
395196,Jake Gets Paid,2009,Josie Chisholm,actor,Ophelia,NaN
453835,Inoperable,2016,Crystal Cordero,actor,Ophelia,NaN
835461,"Dogg's Hamlet, Cahoot's Macbeth",2005,Lucas Grabeel,actor,Ophelia,NaN
1315145,11,2014,Catherine (IV) Lord,actor,Ophelia,NaN
1525132,Kronos,2016,Justine Mooritz,actor,Ophelia,NaN
2052041,Redneck Hamlet,2017,Hannah Elizabeth Smith,actor,Ophelia,NaN
2353488,Baker,2011,Elle Wilcox,actor,Ophelia,NaN
2383774,Queen's Encounter,2011,Hiu Yee Wong,actor,Ophelia,NaN
2449131,Confession,1999,Paulina V. Ahlstrom,actress,Ophelia,NaN
2469939,Hamlet_X,2003,Kathrin Angerer,actress,Ophelia,NaN
2501586,Khoon Ka Khoon,1935,Naseem Banu,actress,Ophelia,2.0
2516411,Notorious But Nice,1933,Louise Beavers,actress,Ophelia,NaN
2516469,Virginia,1941,Louise Beavers,actress,Ophelia,10.0
2534805,Bad Bush,2009,Viva Bianca,actress,Ophelia,2.0
2547108,The Caesar of 6th Street,2017,Rebekah Boatwright,actress,Ophelia,NaN
2551511,Hamlet,1990,Helena Bonham Carter,actress,Ophelia,6.0
2569566,Emerald City (II),2016,Rachel Broderick,actress,Ophelia,NaN
2574240,Caged Fear,1991,Pamela (II) Brown,actress,Ophelia,5.0
2578610,The Tragedy of Hamlet Prince of Denmark,2007,Beth Buchanan,actress,Ophelia,NaN
2585694,Army from Hell,2014,Jennie Bushnell,actress,Ophelia,NaN
2591936,Tales from Shakespeare & Postscripts,2017,Cailey Calisi,actress,Ophelia,NaN
2597046,Kitchen Hamlet,2009,Shaina Cantino,actress,Ophelia,5.0
2614883,Hamlet,1973,Linda Certain,actress,Ophelia,NaN
2616441,Hamlet,2009,Melissa Chalsma,actress,Ophelia,4.0
2649968,The Heyday of the Insensitive Bastards,2017,June Conniff,actress,Ophelia,NaN
2650530,Catwoman,2004,Frances Conroy,actress,Ophelia,5.0
2664430,The Wolfman,2010,Elizabeth (III) Croft,actress,Ophelia,NaN
2670489,Trading Places,1983,Jamie Lee Curtis,actress,Ophelia,53.0
2671348,Natural Possession: Director's Cut,2008,Bernadette Cuvalo,actress,Ophelia,7.0
...,...,...,...,...,...,...
3270557,Puso ng pasko,1998,Cherry Pie Picache,actress,Ophelia,9.0
3270926,City of Tales,2013,Joanna Pickering,actress,Ophelia,1.0
3278583,Hamlet_X,2003,Lucie Pohl,actress,Ophelia,NaN
3322763,The Fool,1990,Miranda Richardson,actress,Ophelia,40.0
3324318,Ophelia,2018,Daisy Ridley,actress,Ophelia,NaN
3347332,Rosencrantz & Guildenstern Are Dead,1990,Joanna Roth,actress,Ophelia,11.0
3349989,Shoot the Messenger,2016,Synthia Roy,actress,Ophelia,6.0
3355138,Un Amleto di meno,1973,Isabella Russo,actress,Ophelia,NaN
3360209,"Hamlet, Prince of Denmark",1997,Britt Sady,actress,Ophelia,NaN
3369033,Hamlet,1911,Emilie Sannom,actress,Ophelia,4.0
3379168,Die Vervlakste Tweeling,1969,Margaret Schiess,actress,Ophelia,8.0
3402075,Bill Shakespeare in Hollywood,2011,C.C. Sheffield,actress,Ophelia,NaN
3402110,Hamlet (II),2007,Tallulah Sheffield,actress,Ophelia,NaN
3409014,Ta'ut Bamispar,1979,Ophelia Shtruhl,actress,Ophelia,NaN
3412289,Human Touch,2004,Delia Silvan,actress,Ophelia,14.0
3414868,Royal Shakespeare Company: Hamlet,2016,Natalie (II) Simpson,actress,Ophelia,7.0
3416831,Hamlet,1954,Mala Sinha,actress,Ophelia,1.0
3418569,Untitled Clancy Sequel,2017,Chelsea Skalski,actress,Ophelia,NaN
3420923,Waiting for Ophelia,2009,Amy Sloan,actress,Ophelia,5.0
3424327,After Romeo & Juliet,2012,Lisa Marie Smith,actress,Ophelia,NaN
3450159,Hamlet,2000,Julia Stiles,actress,Ophelia,7.0
3477328,Zompyre Rising,2011,Kristi (V) Taylor,actress,Ophelia,NaN
3477336,Zompyre Rising,2011,Kristy Taylor,actress,Ophelia,24.0
3482122,Spelonk,2017,Christine Tesco,actress,Ophelia,NaN
3530658,Gamlet,1964,Anastasiya Vertinskaya,actress,Ophelia,5.0
3538349,"Hamlet, Son of a Kingpin",2015,Ingrid Vollset,actress,Ophelia,NaN
3551691,D.C. Cab,1983,Marsha Warfield,actress,Ophelia,7.0
3552384,Creature,2011,Jennifer Lynn Warren,actress,Ophelia,12.0
3562331,Hamlet,2015,Katie (II) West,actress,Ophelia,7.0
3578802,Hamlet,1996,Kate Winslet,actress,Ophelia,46.0

### How many people have played a role called "The Dude"?

In [83]:
c = cast
c = c[c.character == 'The Dude']
len(c)

18

### How many people have played a role called "The Stranger"?

In [85]:
c = cast
c = c[c.character == 'The Stranger']
len(c)

208

### How many roles has Sidney Poitier played throughout his career?

In [92]:
c = cast
c = c[c.name == 'Sidney Poitier']
len(c)

43

### How many roles has Judi Dench played?

In [93]:
c = cast
c = c[c.name == 'Judi Dench']
len(c)

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [97]:
c = cast
c = c[(c.name == 'Cary Grant') & (c.year // 10 == 194) & (c.n == 2)]
c = c.sort('year')
c

C:\Users\Smitha.admin-PC\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

                   title  year        name   type    character    n
840371  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
840381    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

,title,year,name,type,character,n
840353,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
840371,My Favorite Wife,1940,Cary Grant,actor,Nick,2.0
840397,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
840399,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [99]:
c = cast
c = c[(c.name == 'Cary Grant') & (c.year // 10 == 194) & (c.n == 1)]
c = c.sort('year')
c

C:\Users\Smitha.admin-PC\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

,title,year,name,type,character,n
840397,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
840353,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
840399,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
840386,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
840401,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
840377,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
840344,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
840369,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
840370,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
840378,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
840336,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
840373,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
840372,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
840375,Notorious,1946,Cary Grant,actor,Devlin,1.0
840393,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
840394,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
840368,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
840348,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
840357,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [102]:
c = cast
len(c[(c.type == 'actor') & (c.year // 10 == 195)])

154727

### How many roles were avilable for actresses in the 1950s?

In [103]:
c = cast
len(c[(c.type == 'actress') & (c.year // 10 == 195)])

56259

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [104]:
c = cast
len(c[(c.n == 1) & (c.year <= 1980)])

63924

### How many non-leading roles were available through from the beginning of film history through 1980?

In [105]:
c = cast
len(c[(c.n != 1) & (c.year <= 1980)])

1094780

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [106]:
c = cast
len(c[(c.n.isnull()) & (c.year <= 1980)])

438086